<h1>Welcome User</h1>
<p><%= link_to "List Connections", connections_path %></p>
<p><%= link_to "List Views", list_records_path %></p>
<hr>
<p><%= link_to "View Data", :action=>"index", :controller=>"records" , :record_id => 1%></p>
